.input-group-item {
    border-bottom: 1px solid #dbb234;
}
.input-group-item .input-group-addon {
    border: none;
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
}

.input-group-item .input-group-addon i {
    font-size: 1.3em;
}
.form-horizontal .form-control {
    font-size: 1em;
    color: #333;
    font-weight: 500;
    line-height: 30px;
    height: 30px;
    padding-left: 6px;
    border: none;
    box-shadow: none;
}

input[type=email]+label,
input[type=password]+label,
input[type=tel]+label,
input[type=text]+label {
    font-size: 80%;
}
.btn-primary {
    border-radius: 0;
}
input[type='checkbox'] {
    /* Hide the checkbox input ui */
    opacity: 0;
}

/* Apply custom images - size your images according to text and stuff */
/* Take any custom image you want and encode it with http://websemantics.co.uk/online_tools/image_to_data_uri_convertor/ or alike */
input[type='checkbox'] + span{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAEbgAABG4B0KOyaAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACLSURBVDiN7Y4hDoNAAAR3rxeCxyBaX15ADsG3SPhAU9tP3RP4AgZbQbLZKlQNtJbxM7t0398kjQYqA2/sowz2cpEeUdIo6VXkPO2UAQBrSg1iHIKB6qgMAEXOk8k6HLj9hW2FX+WNM3AGtkD5h88Q7GVNqTlqrl13JznTbXtVjIPJ2rb2LpOco/38ABW9OK5LzYh0AAAAAElFTkSuQmCC) no-repeat center left;
    padding-left: 18px;
    margin-left: -18px;
}
input[type='checkbox']:checked + span{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAEbgAABG4B0KOyaAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFiSURBVDiNlZAxSyNRFIW/+3wTBBvRxsK12kLBWsmMSbkLu62dYB2xsBQE0UIQO5HdztY/4A/YJiEZxHpdsFOLNO52C0nmzbGKmMTI5JTn3e++c4+pWv0UQjgQzAv+U0zTTnqeCuHUhxAOQggXpVbrriAMQLdcXsH7fSeYnxQGKLVadzJbcBPEHpGk4ApPm7ksSc47cfz5re2L8iFJfgI1B3PAdt8fTbC6Whq2skrlWFAD0qjTqb19G1iQVatJb3b2vhfHa32vlyQ7SEfAb5/n37m9Hehs4ASTtoAlnPuVVSqbluczZvZD8Bhl2VfS9O9wuoEEU43GLmYXwAzStcyugH/K8y+k6dNoM8MdSPL1+h5mh0AEZMrzb6Vm88978MgJr2a9ftLb2Gib9BA1mzfj4LELAKJG4/IjsC8HTBcZHCNzTnrulssrk5LdOF42s7ZpfX0xeL8vswVJoejPZtb20tkLKyaJLiCC000AAAAASUVORK5CYII=) no-repeat center left;
}

/* EXTRA CSS */
label {
    line-height: 40px;
    position: absolute;
    right: 120px;
    top: 0;
    bottom: 0;
    -moz-transition: 0.3s right ease;
    -ms-transition: 0.3s right ease;
    -o-transition: 0.3s right ease;
    -webkit-transition: 0.3s right ease;
    transition: 0.3s right ease;
    z-index: 0
}
label.checkbox {
    line-height: 22px;
    right: 0px;
    left: 22px;
    top: 0;
    bottom: 0;
}
input {
    font-size: 1em;
    height: 35px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
textarea,
textarea.form-control {
    border: none;
    box-shadow: none;
    width: 100%;
    outline: none;
    resize: none;
    overflow: auto;
    font-size: 1em;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
    border: 1px solid #ccc;
    height: 35px;
    padding: 0 10px;
    width: 250px;
    position: relative;
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, .06);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .06);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .06);
    z-index: 2;
}
input[type="tel"],
input[type="email"],
input[type="text"] {
    color: rgba(47, 130, 194, .8);
}
/* Label */
input[type="tel"] + label,
input[type="email"] + label,
input[type="text"] + label,
input[type="password"] + label,
textarea + label {
    font-size: 80%;
}
input:focus + label,
textarea:focus + label {
    right: 15px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
textarea:focus {
    background-color: rgba(255, 255, 255, .8);
}
textarea:focus,
textarea.form-control:focus {
    outline: none;
    box-shadow: none;
}
.bootstrap-select > .dropdown-toggle {
    border: none;
    background: none;
    box-shadow: none;
    text-transform: none !important;
    padding: 5px 10px 5px 0px;
}

.bootstrap-select.open > .dropdown-toggle:focus,
.bootstrap-select.open > .dropdown-toggle:active {
    border: none;
    background: none;
    box-shadow: none;
    outline: none !important;
}

.input-group .checkbox input[type='checkbox'] + span {
    padding-left: 22px;
}

.input-group-item.has-error {
    border-bottom: 2px solid #a94442;
}

.help-block.has-error {
    color: #a94442;
}
/* END OF EXTRA CSS */